html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 1.6rem;
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

input, button, textarea, select {
    font: inherit;
}

h1, h2, h3, h4, h5 {
    font-size: inherit;
    font-weight: inherit;
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-weight: bold;
    font-size: 2.4rem;
    margin: 20px 0px 60px 0px;
}

.game-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    /* gap: 75px; */
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    width: 400px;
    height: 400px;
}

.square[data-row="0"],
.square[data-row="1"] {
    border-bottom: 2px solid black;
}

.square[data-column="0"],
.square[data-column="1"] {
    border-right: 2px solid black;
}

.square {
    display: grid;
    place-items: center;
    font-size: 5rem;
}

.square:hover {
    background-color: lightgray;
    cursor: pointer;
}

.turn {
    align-self: center;
    font-size: 2rem;
}