html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

* {
    margin: 0;
    padding: 0;
}

:root {
    --button-color: #1379ff;
    --button-hover: #1067d8;
    --button-active: #105cbe;
}

body {
    font-size: 2rem;
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

input, button, textarea, select {
    font: inherit;
}

h1, h2, h3, h4, h5 {
    font-size: inherit;
    font-weight: inherit;
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

h1 {
    font-weight: bold;
    font-size: 2.6rem;
    margin-top: 20px;
}

.player-container {
    display: flex;
    width: 800px;
    justify-content: space-evenly;
}

button {
    background-color: var(--button-color);
    color: white;
    border: 3px outset silver;
}

button:hover {
    background-color: var(--button-hover);
}

button:active {
    background-color: var(--button-active);
    border: 3px inset silver;
}

.new-game-button {
    padding: 18px 30px;
    font-size: 2.2rem;
    border-radius: 30px;
    font-weight: 500;
}

#new-game-dialog {
    padding: 40px 40px 25px 40px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#new-game-dialog > form > fieldset {
    padding: 30px;
}

#new-game-dialog > form {
    display: grid;
    gap: 30px;
}

fieldset > legend {
    font-weight: 500;
}

fieldset > p {
    font-size: 1.8rem;
}

.name-line {
    margin-bottom: 20px;
    display: flex;
    gap: 10px;
    align-items: center;
}

.name-line > input {
    padding: 5px;
    border: 1px solid black;
    border-radius: 2px;
}

.name-line > input:focus {
    outline: 3px solid rgb(47, 106, 160);
    border-color: rgb(47, 106, 160);
}

.modal-buttons {
    display: flex;
    justify-content: space-evenly;
}

form button {
    padding: 5px 20px;
    border-radius: 12px;
}

.player {
    display: grid;
    gap: 10px;
}

.player > p:last-child {
    text-align: center;
    font-size: 2.2rem;
    font-weight: 500;
}

.game-container {
    display: grid;
    justify-items: center;
}

.active-game {
    grid-template-columns: 1fr 1fr;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    width: 400px;
    height: 400px;
}

.square[data-row="0"],
.square[data-row="1"] {
    border-bottom: 2px solid black;
}

.square[data-column="0"],
.square[data-column="1"] {
    border-right: 2px solid black;
}

.square {
    display: grid;
    place-items: center;
    font-size: 5rem;
}

.square:hover {
    background-color: lightgray;
    cursor: pointer;
}

.side-text {
    align-self: center;
    text-align: center;
}

.first-line {
    font-weight: bold;
    font-size: 2.2rem;
    margin-bottom: 20px;
}

.winner {
    color: green;
}

.loser,
.draw {
    color: gray;
}

.after-game {
    margin-top: 40px;
}